
mixin modal() 
 
	//- #modal-win.modal.fade(tabindex='-1', role='dialog', aria-labelledby='modal-win', aria-hidden='true')
		
	//- 	div( class="   modal-dialog  modal-dialog-centered  " role='document') 
	//- 		+form-wrap()(class=" modal-content modal-win ")
	//- 			button.close.mfp-close(type='button', data-dismiss='modal', aria-label='Close')  ×
	//- 			+input("tel","Введите ваш телефон")(name="tel" required) 
				
	//- 			+e.BUTTON.btn.btn.btn-accent.btn-block Отправить
	//- 			+b.wrap-polite
	//- 				+b.custom-input.polite
	//- 					+b.LABEL.custom-input.polite
	//- 						+e.INPUT.input.__input-radio(type="checkbox" checked name="polite" required value="")
	//- 						+e.SPAN.lab
	//- 						| Даю 
	//- 						| 
	//- 						span.link( data-toggle='modal', data-target='#exampleModal2') согласие 

	//- 						| на хранение и обработку   персональных данных
	
 

	//- #thanks.modal.fade(tabindex='-1', role='dialog', aria-labelledby='thanks', aria-hidden='true')
	//- 	div( class=" ttext-center  modal-dialog  modal-dialog-centered  " role='document') 
	//- 		+form-wrap()(class=" modal-content modal-win ")
	//- 			button.close.mfp-close(type='button', data-dismiss='modal', aria-label='Close')  ×
	//- 			br
	//- 			.h2 Заявка принята
	//- 			br
	//- 			.h3 Скоро с Вами свяжутся
	//- 			br 

	+form-wrap()(id="modal-form" class="zoom-anim-dialog mfp-hide modal-win  " )
		
		+e.title Заказать звонок 
		+input("Введите имя")(required) 
		+input("Введите телефон", "tel")(required)
		+polite()
		+e.INPUT.btn.btn-block(type="button" value="заказать звонок") 
	// #modal-form
	
	+form-wrap()(id="modal-balance" class="zoom-anim-dialog mfp-hide modal-win  " )
		
		+e.title Проверить свой счёт или&nbsp;пополнить баланс
		p Введите свой номер телефона, чтобы&nbsp;проверить баланс:
		+input("Введите телефон", "tel")(required)
		p: strong  Баланс: 0₽ 
		p Введите сумму пополнения в&nbsp;рублях:
		+input("Введите сумму")(required) 
		p Комиссия банка (4%)
			br
			| Итого к оплате: 0 ₽
		+polite()
		+e.INPUT.btn.btn-block(type="button" value="Пополнить баланс") 
	// #modal-balance
	
	+b.form-wrap(id="modal-thanks" class="zoom-anim-dialog mfp-hide modal-win  " )
		
		+e.title Спасибо за обращение!
		p Мы свяжемся с Вами в ближайшее время.
		
		+e.btn(type="button") закрыть
	// #modal-thanks

	// modal